.outer-div-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url("../../../public/WebWake_tiling_background.png");
    background-repeat:repeat;
    background-size:100px;
}

.inner-div-form-container {
    background-color: lightblue;
    padding: 40px;
    border-radius:15px;
}

.invalid-input-info {
    color: red;
}