<div class="outer-div-form-container">
    <div class="inner-div-form-container">
        <form nz-form>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input the target MAC-Address!">
                    <nz-input-group nzPrefixIcon="laptop">
                        <input formControlName="mac-address" nz-input placeholder="MAC-Address" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
        <button nz-button nzType="primary">Send MAC-Address</button>
    </div>
</div>
